<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <title>Form</title>
</head>

<body>
    <form class="form-container">
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
        </div>

        <div class="form-group">
            <label for="type_of_assistance_applied">Type of Assistance Applied:</label>
            <select id="type_of_assistance_applied" name="type_of_assistance_applied" required>
                <option value="" disabled selected>Select an option</option>
                <option value="education_fees_assistance">Education Fees Assistance</option>
                <option value="interim_dialysis_assistance">Interim Dialysis Assistance</option>
                <option value="medical_consumables_assistance">Medical Consumables Assistance</option>
                <option value="household_living_assistance">Household Living Assistance</option>
                <option value="medical_transport_assistance">Medical Transport Assistance</option>
                <option value="hiv_medication_fees">HIV Medication Fees</option>
                <option value="antenatal_check_fees_assistance">Antenatal Check Fees Assistance</option>
                <option value="befriending_service">Befriending Service</option>
                <option value="day_care_fees_assistance">Day Care Fees Assistance</option>
                <option value="one_time_assistance">One-Time Assistance</option>
                <option value="home_decluttering_service">Home Decluttering Service</option>
                <option value="others">Others</option>
            </select>
        </div>


        <div class="form-group">
            <label for="care_team">Care Team:</label>
            <select id="care_team" name="care_team" required>
                <option value="" disabled selected>Select an option</option>
                <option value="central_1_1">Central 1 1</option>
                <option value="central_2_2">Central 2 2</option>
                <option value="central_3_3">Central 3 3</option>
                <option value="east_1_1">East 1 1</option>
                <option value="east_2_2">East 2 2</option>
                <option value="east_3_3">East 3 3</option>
                <option value="east_4_4">East 4 4</option>
                <option value="north_1_1">North 1 1</option>
                <option value="north_2_2">North 2 2</option>
                <option value="north_3_3">North 3 3</option>
                <option value="south_1_1">South 1 1</option>
                <option value="south_2_2">South 2 2</option>
                <option value="south_3_3">South 3 3</option>
            </select>
        </div>


        <div class="form-group">
            <label for="gender">Gender:</label>
            <select id="gender" name="gender" required>
                <option value="" disabled selected>Select an option</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" id="age" name="age" required>
        </div>

        <div class="form-group">
            <label for="race">Race:</label>
            <select id="race" name="race" required>
                <option value="" disabled selected>Select an option</option>
                <option value="boyanese">Boyanese</option>
                <option value="chinese">Chinese</option>
                <option value="eurasian">Eurasian</option>
                <option value="indian">Indian</option>
                <option value="javanese">Javanese</option>
                <option value="malay">Malay</option>
                <option value="sikh">Sikh</option>
                <option value="others">Others</option>
            </select>
        </div>

        <div class="form-group">
            <label for="occupation">Occupation:</label>
            <select id="occupation" name="occupation" required>
                <option value="" disabled selected>Select an option</option>
                <option value="employed">Employed</option>
                <option value="part_time">Part-time</option>
                <option value="retired">Retired</option>
                <option value="student">Student</option>
                <option value="unemployed">Unemployed</option>
                <option value="na">NA</option>
            </select>
        </div>

        <div class="form-group">
            <label for="housing">Housing Type:</label>
            <select id="housing" name="housing" required>
                <option value="" disabled selected>Select an option</option>
                <option value="condominium">Condominium</option>
                <option value="hdb_1_room">HDB 1 Room</option>
                <option value="hdb_2_room">HDB 2 Room</option>
                <option value="hdb_3_room">HDB 3 Room</option>
                <option value="hdb_4_room">HDB 4 Room</option>
                <option value="hdb_5_room">HDB 5 Room</option>
                <option value="hdb_executive_maisonette">HDB Executive / Maisonette</option>
                <option value="hostel">Hostel</option>
                <option value="landed_property">Landed Property</option>
                <option value="nursing_home">Nursing Home</option>
                <option value="others">Others</option>
                <option value="rent_a_room">Rent a Room</option>
                <option value="shelter_home_halfway_house">Shelter Home / Halfway House</option>
                <option value="studio_apartment">Studio Apartment</option>
            </select>
        </div>

        <div class="form-group">
            <label for="home_ownership">Home Ownership:</label>
            <select id="home_ownership" name="home_ownership" required>
                <option value="" disabled selected>Select an option</option>
                <option value="lodging">Lodging</option>
                <option value="owned_fully_paid">Owned, Fully Paid</option>
                <option value="owned_not_fully_paid">Owned, Not Fully Paid</option>
                <option value="rented">Rented</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="monthly_rental">Monthly Rental:</label>
            <input type="number" id="monthly_rental" name="monthly_rental" step="0.01" required>
        </div>

        <!-- <div class="form-group">
            <label for="identity_id_type">Identity_ID Type:</label>
            <select id="identity_id_type" name="identity_id_type" required>
                <option value="" disabled selected>Select an option</option>
                <option value="singapore_citizen">Singapore Citizen</option>
                <option value="singapore_permanent_resident">Singapore Permanent Resident</option>
                <option value="long_term_visit_pass">Long Term Visit Pass</option>
                <option value="short_term_visit_pass">Short Term Visit Pass</option>
                <option value="special_pass">Special Pass</option>
                <option value="student_pass">Student Pass</option>
                <option value="work_pass">Work Pass</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Intake_No_of_HH">Intake_No. of HH:</label>
            <input type="number" id="intake_no_of_hh" name="intake_no_of_hh" required>
        </div>

        <div class="form-group">
            <label for="intake_pci">Intake_PCI:</label>
            <input type="number" id="intake_pci" name="intake_pci" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="intake_status">Intake Status:</label>
            <select id="intake_status" name="intake_status" required>
                <option value="" disabled selected>Select an option</option>
                <option value="confirm">Confirm</option>
                <option value="pending">Pending</option>
                <option value="rejected">Rejected</option>
            </select>
        </div>

        <div class="form-group">
            <label for="income_salary">Income Assessment: Salary</label>
            <input type="number" id="income_salary" name="income_salary" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="income_cpf_payout">Income Assessment: CPF Payout</label>
            <input type="number" id="income_cpf_payout" name="income_cpf_payout" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="income_agencies_assistance">Income Assessment: Assistance from other agencies</label>
            <input type="number" id="income_agencies_assistance" name="income_agencies_assistance" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="income_relatives_assistance">Income Assessment: Assistance from Relatives/Friends</label>
            <input type="number" id="income_relatives_assistance" name="income_relatives_assistance" step="0.01"
                required>
        </div>

        <div class="form-group">
            <label for="income_insurance_payout">Income Assessment: Insurance Payout</label>
            <input type="number" id="income_insurance_payout" name="income_insurance_payout" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="income_rental">Income Assessment: Rental Income</label>
            <input type="number" id="income_rental" name="income_rental" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="income_others">Income Assessment: Others Income</label>
            <input type="number" id="income_others" name="income_others" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="income_total">Income Assessment: Total Income</label>
            <input type="number" id="income_total" name="income_total" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_mortgage_rental">Expenditure Assessment: Mortgage/Rental</label>
            <input type="number" id="expenditure_mortgage_rental" name="expenditure_mortgage_rental" step="0.01"
                required>
        </div>

        <div class="form-group">
            <label for="expenditure_utilities">Expenditure Assessment: Utilities</label>
            <input type="number" id="expenditure_utilities" name="expenditure_utilities" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_scc">Expenditure Assessment: S&CC Fees</label>
            <input type="number" id="expenditure_scc" name="expenditure_scc" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_food">Expenditure Assessment: Food Expenses</label>
            <input type="number" id="expenditure_food" name="expenditure_food" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_groceries">Expenditure Assessment: Marketing Groceries</label>
            <input type="number" id="expenditure_groceries" name="expenditure_groceries" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_telecommunications">Expenditure Assessment: Telecommunications</label>
            <input type="number" id="expenditure_telecommunications" name="expenditure_telecommunications" step="0.01"
                required>
        </div>

        <div class="form-group">
            <label for="expenditure_transportation">Expenditure Assessment: Transportation</label>
            <input type="number" id="expenditure_transportation" name="expenditure_transportation" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_medical">Expenditure Assessment: Medical Expenses</label>
            <input type="number" id="expenditure_medical" name="expenditure_medical" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_education">Expenditure Assessment: Education Expense</label>
            <input type="number" id="expenditure_education" name="expenditure_education" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_contribution_family">Expenditure Assessment: Contribution to Family
                Members</label>
            <input type="number" id="expenditure_contribution_family" name="expenditure_contribution_family" step="0.01"
                required>
        </div>

        <div class="form-group">
            <label for="expenditure_domestic_helper">Expenditure Assessment: Domestic Helper</label>
            <input type="number" id="expenditure_domestic_helper" name="expenditure_domestic_helper" step="0.01"
                required>
        </div>

        <div class="form-group">
            <label for="expenditure_loans_debts">Expenditure Assessment: Loans/Debts/Installments</label>
            <input type="number" id="expenditure_loans_debts" name="expenditure_loans_debts" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_insurance">Expenditure Assessment: Insurance Premiums</label>
            <input type="number" id="expenditure_insurance" name="expenditure_insurance" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_others">Expenditure Assessment: Others Expenditure</label>
            <input type="number" id="expenditure_others" name="expenditure_others" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_total">Expenditure Assessment: Total Expenditure</label>
            <input type="number" id="expenditure_total" name="expenditure_total" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="current_savings">Current Savings</label>
            <input type="number" id="current_savings" name="current_savings" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="ie_difference_self">I&E Difference (self-declaration)</label>
            <input type="number" id="ie_difference_self" name="ie_difference_self" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="ie_difference_assessment">I&E Difference (assessment)</label>
            <input type="number" id="ie_difference_assessment" name="ie_difference_assessment" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="recommendation">Recommendation:</label>
            <select id="recommendation" name="recommendation" required>
                <option value="" disabled selected>Select an option</option>
                <option value="opened">Opened</option>
                <option value="rejected">Rejected</option>
            </select>
        </div>

        <div class="form-group">
            <label for="invoice_amount">Invoice Amount</label>
            <input type="number" id="invoice_amount" name="invoice_amount" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="copayment">Copayment</label>
            <input type="number" id="copayment" name="copayment" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="noOfHH">No. of HH:</label>
            <input type="number" id="noOfHH" name="noOfHH" required>
        </div>

        <div class="form-group">
            <label for="beforePrimary">Before Primary:</label>
            <input type="number" id="beforePrimary" name="beforePrimary" required>
        </div>

        <div class="form-group">
            <label for="primary">Primary (7-12):</label>
            <input type="number" id="primary" name="primary" required>
        </div>

        <div class="form-group">
            <label for="secondary">Secondary (13-17):</label>
            <input type="number" id="secondary" name="secondary" required>
        </div>

        <div class="form-group">
            <label for="tertiary">Tertiary (18-21):</label>
            <input type="number" id="tertiary" name="tertiary" required>
        </div>

        <div class="form-group">
            <label for="adult">Adult (22-64):</label>
            <input type="number" id="adult" name="adult" required>
        </div>

        <div class="form-group">
            <label for="elderly">Elderly (65 and above):</label>
            <input type="number" id="elderly" name="elderly" required>
        </div> -->

        <div class="form-group">
            <label>&nbsp</label>
            <button type="submit" id="submit-button">Submit</button>
        </div>

    </form>
</body>

</html>