<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    <script src="{{url_for('static', filename='index.js')}}"></script>
    <title>Form</title>
</head>

<body>
    <form class="form-container">
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
        </div>

        <div class="form-group">
            <label for="type_of_assistance_applied">Type of Assistance Applied:</label>
            <select id="type_of_assistance_applied" name="Type of Assistance Applied" required>
                <option value="" disabled selected>Select an option</option>
                <option value="education fees assistance">Education Fees Assistance</option>
                <option value="interim dialysis assistance">Interim Dialysis Assistance</option>
                <option value="medical consumables assistance">Medical Consumables Assistance</option>
                <option value="household living assistance">Household Living Assistance</option>
                <option value="medical transport assistance">Medical Transport Assistance</option>
                <option value="hiv medication fees">HIV Medication Fees</option>
                <option value="antenatal check fees assistance">Antenatal Check Fees Assistance</option>
                <option value="befriending service">Befriending Service</option>
                <option value="day care fees assistance">Day Care Fees Assistance</option>
                <option value="one-time assistance">One-Time Assistance</option>
                <option value="home decluttering service">Home Decluttering Service</option>
                <option value="others">Others</option>
            </select>
        </div>


        <div class="form-group">
            <label for="care_team">Care Team:</label>
            <select id="care_team" name="Care Team" required>
                <option value="" disabled selected>Select an option</option>
                <option value="central 1 1">Central 1 1</option>
                <option value="central 2 2">Central 2 2</option>
                <option value="central 3 3">Central 3 3</option>
                <option value="east 1 1">East 1 1</option>
                <option value="east 2 2">East 2 2</option>
                <option value="east 3 3">East 3 3</option>
                <option value="east 4 4">East 4 4</option>
                <option value="north 1 1">North 1 1</option>
                <option value="north 2 2">North 2 2</option>
                <option value="north 3 3">North 3 3</option>
                <option value="south 1 1">South 1 1</option>
                <option value="south 2 2">South 2 2</option>
                <option value="south 3 3">South 3 3</option>
            </select>
        </div>


        <div class="form-group">
            <label for="gender">Gender:</label>
            <select id="gender" name="Gender" required>
                <option value="" disabled selected>Select an option</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="age">Age:</label>
            <input type="number" id="age" name="Age" required>
        </div>

        <div class="form-group">
            <label for="race">Race:</label>
            <select id="race" name="Race" required>
                <option value="" disabled selected>Select an option</option>
                <option value="boyanese">Boyanese</option>
                <option value="chinese">Chinese</option>
                <option value="eurasian">Eurasian</option>
                <option value="indian">Indian</option>
                <option value="javanese">Javanese</option>
                <option value="malay">Malay</option>
                <option value="sikh">Sikh</option>
                <option value="others">Others</option>
            </select>
        </div>

        <div class="form-group">
            <label for="occupation">Occupation:</label>
            <select id="occupation" name="Occupation" required>
                <option value="" disabled selected>Select an option</option>
                <option value="employed">Employed</option>
                <option value="part-time">Part-time</option>
                <option value="retired">Retired</option>
                <option value="student">Student</option>
                <option value="unemployed">Unemployed</option>
                <option value="na">NA</option>
            </select>
        </div>

        <div class="form-group">
            <label for="housing">Housing Type:</label>
            <select id="housing" name="Housing Type" required>
                <option value="" disabled selected>Select an option</option>
                <option value="condominium">Condominium</option>
                <option value="hdb 1 room">HDB 1 Room</option>
                <option value="hdb 2 room">HDB 2 Room</option>
                <option value="hdb 3 room">HDB 3 Room</option>
                <option value="hdb 4 room">HDB 4 Room</option>
                <option value="hdb 5 room">HDB 5 Room</option>
                <option value="hdb executive / maisonette">HDB Executive / Maisonette</option>
                <option value="hostel">Hostel</option>
                <option value="landed property">Landed Property</option>
                <option value="nursing home">Nursing Home</option>
                <option value="others">Others</option>
                <option value="rent a room">Rent a Room</option>
                <option value="shelter home / halfway house">Shelter Home / Halfway House</option>
                <option value="studio apartment">Studio Apartment</option>
            </select>
        </div>

        <div class="form-group">
            <label for="home_ownership">Home Ownership:</label>
            <select id="home_ownership" name="Home Ownership" required>
                <option value="" disabled selected>Select an option</option>
                <option value="lodging">Lodging</option>
                <option value="owned, fully paid">Owned, Fully Paid</option>
                <option value="owned, not fully paid">Owned, Not Fully Paid</option>
                <option value="rented">Rented</option>
                <option value="other">Other</option>
            </select>
        </div>

        <div class="form-group">
            <label for="monthly_rental">Monthly Rental:</label>
            <input type="number" id="monthly_rental" name="Monthly Rental" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="identity_id_type">Identity_ID Type:</label>
            <select id="identity_id_type" name="Identity_ID type" required>
                <option value="" disabled selected>Select an option</option>
                <option value="singapore citizen">Singapore Citizen</option>
                <option value="singapore permanent resident">Singapore Permanent Resident</option>
                <option value="long term visit pass">Long Term Visit Pass</option>
                <option value="short term visit pass">Short Term Visit Pass</option>
                <option value="special pass">Special Pass</option>
                <option value="student pass">Student Pass</option>
                <option value="work pass">Work Pass</option>
            </select>
        </div>

        <div class="form-group">
            <label for="Intake_No_of_HH">Intake_No. of HH:</label>
            <input type="number" id="intake_no_of_hh" name="Intake_No. of HH" value="0" required>
        </div>

        <div class="form-group">
            <label for="intake_pci">Intake_PCI:</label>
            <input type="number" id="intake_pci" name="Intake_PCI" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="intake_status">Intake Status:</label>
            <select id="intake_status" name="Intake_Status" required>
                <option value="" disabled selected>Select an option</option>
                <option value="confirm">Confirm</option>
                <option value="pending">Pending</option>
                <option value="rejected">Rejected</option>
            </select>
        </div>

        <div class="form-group">
            <label for="income_salary">Income Assessment: Salary</label>
            <input type="number" id="income_salary" name="Income Assessment: Salary" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="income_cpf_payout">Income Assessment: CPF Payout</label>
            <input type="number" id="income_cpf_payout" name="Income Assessment: CPF Payout" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="income_agencies_assistance">Income Assessment: Assistance from other agencies</label>
            <input type="number" id="income_agencies_assistance"
                name="Income Assessment: Assistance from other agencies" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="income_relatives_assistance">Income Assessment: Assistance from Relatives/Friends</label>
            <input type="number" id="income_relatives_assistance"
                name="Income Assessment: Assistance from Relatives/Friends" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="income_insurance_payout">Income Assessment: Insurance Payout</label>
            <input type="number" id="income_insurance_payout" name="Income Assessment: Insurance Payout" step="0.01"
            value="0" required>
        </div>

        <div class="form-group">
            <label for="income_rental">Income Assessment: Rental Income</label>
            <input type="number" id="income_rental" name="Income Assessment: Rental Income" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="income_others">Income Assessment: Others Income</label>
            <input type="number" id="income_others" name="Income Assessment: Others Income" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="income_total">Income Assessment: Total Income</label>
            <input type="number" id="income_total" name="Income Assessment: Total Income" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="expenditure_mortgage_rental">Expenditure Assessment: Mortgage/Rental</label>
            <input type="number" id="expenditure_mortgage_rental" name="Expenditure Assessment: Mortgage/Rental"
                step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="expenditure_utilities">Expenditure Assessment: Utilities</label>
            <input type="number" id="expenditure_utilities" name="Expenditure Assessment: Utilities" step="0.01"
            value="0" required>
        </div>

        <div class="form-group">
            <label for="expenditure_scc">Expenditure Assessment: S&CC Fees</label>
            <input type="number" id="expenditure_scc" name="Expenditure Assessment: S&CC Fees" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="expenditure_food">Expenditure Assessment: Food Expenses</label>
            <input type="number" id="expenditure_food" name="Expenditure Assessment: Food Expenses" step="0.01"
            value="0" required>
        </div>

        <div class="form-group">
            <label for="expenditure_groceries">Expenditure Assessment: Marketing Groceries</label>
            <input type="number" id="expenditure_groceries" name="Expenditure Assessment: Marketing Groceries"
            value="0" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_telecommunications">Expenditure Assessment: Telecommunications</label>
            <input type="number" id="expenditure_telecommunications" name="Expenditure Assessment: Telecommunications"
            value="0" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_transportation">Expenditure Assessment: Transportation</label>
            <input type="number" id="expenditure_transportation" name="Expenditure Assessment: Transportation"
            value="0" step="0.01" required>
        </div>

        <div class="form-group">
            <label for="expenditure_medical">Expenditure Assessment: Medical Expenses</label>
            <input type="number" id="expenditure_medical" name="Expenditure Assessment: Medical Expenses" step="0.01"
            value="0" required>
        </div>

        <div class="form-group">
            <label for="expenditure_education">Expenditure Assessment: Education Expense</label>
            <input type="number" id="expenditure_education" name="Expenditure Assessment: Education Expense" step="0.01"
            value="0" required>
        </div>

        <div class="form-group">
            <label for="expenditure_contribution_family">Expenditure Assessment: Contribution to Family Members</label>
            <input type="number" id="expenditure_contribution_family"
                name="Expenditure Assessment: Contribution to Family Members" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="expenditure_domestic_helper">Expenditure Assessment: Domestic Helper</label>
            <input type="number" id="expenditure_domestic_helper" name="Expenditure Assessment: Domestic Helper"
                step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="expenditure_loans_debts">Expenditure Assessment: Loans/Debts/Installments</label>
            <input type="number" id="expenditure_loans_debts" name="Expenditure Assessment: Loans/Debts/Installments" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="expenditure_insurance">Expenditure Assessment: Insurance Premiums</label>
            <input type="number" id="expenditure_insurance" name="Expenditure Assessment: Insurance Premiums" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="expenditure_others">Expenditure Assessment: Others Expenditure</label>
            <input type="number" id="expenditure_others" name="Expenditure Assessment: Others Expenditure" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="expenditure_total">Expenditure Assessment: Total Expenditure</label>
            <input type="number" id="expenditure_total" name="Expenditure Assessment: Total Expenditure" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="current_savings">Current Savings</label>
            <input type="number" id="current_savings" name="Current Savings" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="ie_difference_self">I&E Difference (self-declaration)</label>
            <input type="number" id="ie_difference_self_declaration" name="I&E Difference (self-declaration)" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="ie_difference_assessment">I&E Difference (assessment)</label>
            <input type="number" id="ie_difference_assessment" name="I&E Difference (assessment)" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="recommendation">Recommendation:</label>
            <select id="recommendation" name="Recommendation" required>
                <option value="" disabled selected>Select an option</option>
                <option value="opened">Opened</option>
                <option value="rejected">Rejected</option>
            </select>
        </div>

        <div class="form-group">
            <label for="invoice_amount">Invoice Amount</label>
            <input type="number" id="invoice_amount" name="Invoice Amount" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="copayment">Copayment</label>
            <input type="number" id="copayment" name="Copayment" step="0.01" value="0" required>
        </div>

        <div class="form-group">
            <label for="noOfHH">No. of HH:</label>
            <input type="number" id="no_of_hh" name="No. of HH" value="0" required>
        </div>

        <div class="form-group">
            <label for="beforePrimary">Before Primary:</label>
            <input type="number" id="before_primary" name="Before Primary" value="0" required>
        </div>

        <div class="form-group">
            <label for="primary">Primary (7-12):</label>
            <input type="number" id="primary" name="Primary (7-12)" value="0" required>
        </div>

        <div class="form-group">
            <label for="secondary">Secondary (13-17):</label>
            <input type="number" id="secondary" name="Secondary (13-17)" value="0" required>
        </div>

        <div class="form-group">
            <label for="tertiary">Tertiary (18-21):</label>
            <input type="number" id="tertiary" name="Tertiary (18-21)" value="0" required>
        </div>

        <div class="form-group">
            <label for="adult">Adult (22-64):</label>
            <input type="number" id="adult" name="Adult (22-64)" value="0" required>
        </div>

        <div class="form-group">
            <label for="elderly">Elderly (65 and above):</label>
            <input type="number" id="elderly" name="Elderly (65 and above)" value="0" required>
        </div>

        <div class="form-group">
            <label>&nbsp</label>
            <button type="submit" id="submit-button">Submit</button>
        </div>

    </form>
</body>

</html>